extends /layout

block content
	section#hero.cover.height-70.imagebg.parallax.text-center(data-overlay="5")
		.background-image-holder
			img(src="/img/header/about.jpg" alt="Header Image")
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue About TCFCU
	section
		.container
			.row
				.col-md-12
					h5.color--blue.
						Our History
				.col-md-12.margin-bottom-30
					p.
						Tulare County Federal Credit Union (we know it's a mouthful) has been serving the financial needs of Tulare County for over 75 years. Tulare Federal was founded on April 15, 1939, as the Tulare County Teachers Federal Credit Union. In 2002, the Credit Union expanded to include the entire county, and our name was changed to Tulare County Federal Credit Union.
					p.
						As a not-for-profit, member-owned financial institutions, all of our profits are returned to members in the form of higher earnings on savings, lower rates on loans and fewer fees. Every member has a voice in the credit union’s operations, and our leadership is made up of volunteers have the membership’s best interests in mind. Once you are a member of Tulare Federal, you are a member for life.
					p.
						As a valued member, Tulare Federal is dedicated to providing the financial products and quality service that meet your specific needs. No matter what your lifestyle or financial situation, you can be confident that you, our member, come first.
	section.cover.imagebg.parallax.text-center(data-overlay="8" style="padding:100px 0;")
		.background-image-holder
			img(alt="mission statement background image" src="/img/about/about.jpg")
		.container
			.col-md-12
				h5.color--white Our Mission Statement
				p.color--white.
					“Building valuable relationships with our members to create lifelong financial success.”
				p.color--white.unmarg.
					Here at Tulare Federal, these are our daily promises to you:
				p.color--white.unmarg.
					We promise to earn your trust and keep it
				p.color--white.unmarg.
					We promise to make it easy to do business with us
				p.color--white.unmarg.
					We promise to treat you as an honored guest
				p.color--white.unmarg.
					We promise to take ownership of your request
				p.color--white.unmarg.
					We promise to respond to your request in a timely manner
				p.color--white.unmarg.
					We promise to identify your needs and suggest a solution that will improve your financial life
				p.color--white.unmarg.
					We promise to show our appreciation for allowing us to serve you
	section
		.container
			.row
				.col-sm-12
					h5.color--blue A simple start to dreaming big
			.row
				.col-sm-12
					p.
						As a member, you mean the world to us. Together we will work with you to build a bright financial future for you and your family and give you the peace of mind of having a partner to guide you through the challenges and changes of life. 
					p.
						We strive to be more than facilitiators, we want to engage and take action to improve the lives of our members and everybody in our community. Apply to become a member, visit a branch and talk to our experts, connect with us through our website and see what it's like to bank with a credit union that is designed to do more.
