extends /layout

block content
	section.cover.height-50.imagebg.parallax(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-index.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-index.jpg" alt="" srcset="/img/header/loans-index.jpg 1600w, /img/header/loans-index.jpg 300w, /img/header/loans-index.jpg 768w, /img/header/loans-index.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row
				div.col-sm-12
					h1 Loans
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Blog
	section#loan-nav
		div.container
			div.row.mb--3
				div.col-sm-12
					h5.color--blue Keep up with our latest news!
					p.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit, quam sed venenatis vehicula, lacus metus vehicula orci, vitae sagittis odio felis sit amet dolor

			div.row.masonry.mb--3
				.masonry__container
					a(href="/blog/blog1")
						.loan-type.col-md-4.col-sm-6.imagebg.masonry__item(data-overlay="5")
							.background-image-holder
								img(src="/img/header/loans-auto.jpg")
							//-i.icon.icon--large.fa.fa-car.block
							.container.pt--1.pb--2
								h4.color--white Blog Post 1
								p.hr-white-before.
									Don’t Let Credit Card Interest Cost You Money
					a(href="/blog/blog2")
						.loan-type.col-md-4.col-sm-6.imagebg.masonry__item(data-overlay="5")
							.background-image-holder
								img(src="/img/header/home2.jpg")
							//-i.icon.icon--large.fa.fa-car.block
							.container.pt--1.pb--2
								h4.color--white Blog Post 2
								p.hr-white-before.
									Advantages of Using a Credit Card
					a(href="/blog/blog3")
						.loan-type.col-md-4.col-sm-6.imagebg.masonry__item(data-overlay="5")
						
							.background-image-holder
								img(src="/img/header/home3.jpg")
							//-i.icon.icon--large.fa.fa-car.block
							.container.pt--1.pb--2
								h4.color--white Blog Post 3
								p.hr-white-before.
									Making The Store Credit Card Decision
