extends /layout

block content
	section#hero.cover.height-50.imagebg.parallax(data-overlay="5")
		.background-image-holder
			img(src="/img/header/blog.jpg" alt="Header Image")
		div#hero-content.container.pos-vertical-center
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue MoneyIQ
	section#loan-nav
		.container
			.row.mb--3
				.col-sm-12
					h5.color--blue Keep up with our latest news!
		.row
			.col-sm-12
				iframe(src="https://www.onlinebanktours.com/m/?b=2393" style="width:100%;height:auto;min-height:100vh;")
