extends /layout

block content
	section#hero.cover.height-60.imagebg.parallax.text-center(data-overlay="5")
		.background-image-holder
			img.attachment-full.size-full(src="/img/header/buyingacar.jpg" alt="Header image")
		div#hero-content.container.pos-vertical-center

				
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Keys to buying a new car
	//-section
		.container
			.row
				.col-sm-6
					video#video(controls='controls', preload='none', crossorigin='anonymous', poster='https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/194/videos/40/poster/CREDIT_TIPS.jpg')
						source(src='https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/194/videos/Tips_to_raise_your_credit_score_1.mp4', type='video/mp4')
						track(kind='subtitles', srclang='en', label='English', src='/mobile/captionProxy.php?file=https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/194/videos/40/RaiseYourCreditScore.vtt')
						object#swfPlayer(style='z-index: 10000;', type='application/x-shockwave-flash', data='../m/swf/player.swf', width='512', height='288')
							param(name='allowfullscreen', value='true')
							param(name='allowscriptaccess', value='always')
							param(name='flashvars', value='video=https%3A%2F%2Fx7i5t7v9.ssl.hwcdn.net%2Fcds%2FmoneyBasics%2F194%2Fvideos%2FTips_to_raise_your_credit_score_1.mp4&poster=https%3A%2F%2Fx7i5t7v9.ssl.hwcdn.net%2Fcds%2FmoneyBasics%2F194%2Fvideos%2F40%2Fposter%2FCREDIT_TIPS.jpg')
							param(name='wmode', value='opaque')
							//if IE
								param(name='movie', value='../m/swf/player.swf')
							img(src='https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/194/videos/40/poster/CREDIT_TIPS.jpg', width='510', height='288', alt='Tips On Raising Your Credit Score')
							p
								| Your browser can&rsquo;t play HTML5 video. 
								a.hoverZoomLink(href='https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/194/videos/Tips_to_raise_your_credit_score_1.mp4')
									| Download
									| it
								|  instead.

				.col-sm-6
					h5.color--blue How to get your credit report and take action to improve your financial health
					p With knowledge comes responsibility and we've got 3 steps you can take to collect your report, better understand your score and protect yourself from fraudulent reporting.
	section
		.container
			.row
				.col-sm-12
					//-h5.color--blue 1. Get your free credit report
					p.
						For many, buying a car is a big step. Just ask Tulare County Federal Credit Union member Cristina Gutierrez. 

					p.
						In 2016, she started visiting car lots looking at cars and decided it was time to make her first major purchase after graduating college. She was overwhelmed both by the pressure of the salesmen and the endless financing options. 

					p.
						She turned to TCFCU for guidance, and they helped her understand her options and determine what she could afford. In the end, they offered her a great loan she knew she could afford and made her a more-informed consumer. 

					p.
						"I was a first time car buyer and totally overwhelmed by the process," says Gutierrez. "Tulare Federal took the time to educate me on the process and worked hard to get me the best loan possible so all I had to do was find the perfect car."

					p.
						#[a(href="/loans/auto-loans") See what Tulare County Federal Credit Union can do for you.] 

					p.
						Here's some tips for making your next auto purchase. 
	section
		.container
			.row
				.col-sm-12
					h5.color--blue Things to think about
					p.
						Think about what car model and options you want and how much you’re willing to spend. Do some research. You’ll be less likely to feel pressured into making a hasty or expensive decision at the showroom and more likely to get a better deal.
					p.unmarg Consider these suggestions:
					p.unmarg.
						• Check publications and websites that discuss new car features and prices. These may provide information on the dealer’s costs for specific models and options.
					p.unmarg.
						• Shop around to get the best possible price by comparing models and prices in ads and at dealer showrooms. You also may want to contact car-buying services and broker-buying services to make comparisons.
					p.unmarg.
						• Plan to negotiate on price. Dealers may be willing to bargain on their profit margin, often between 10 and 20 percent. Usually, this is the difference between the manufacturer’s suggested retail price (MSRP) and the invoice price.
					p.unmarg.
						• Because the price is a factor in the dealer’s calculations regardless of whether you pay cash or finance your car — and also affects your monthly payments — negotiating the price can save you money.
					p.
						• Consider ordering your new car if you don’t see what you want on the dealer’s lot. This may involve a delay, but cars on the lot may have options you don’t want — and that can raise the price. However, dealers often want to sell their current inventory quickly, so you may be able to negotiate a good deal if an in-stock car meets your needs.
	section
		.container
			.row
				.col-sm-12
					h5.color--blue Learn the terms
					p.
						Negotiations often have a vocabulary of their own. Here are some terms you may hear when you’re talking price.
					p.unmarg.
						• Invoice Price is the manufacturer’s initial charge to the dealer. This usually is higher than the dealer’s final cost because dealers receive rebates, allowances, discounts, and incentive awards. Generally, the invoice price should include freight (also known as destination and delivery). If you’re buying a car based on the invoice price (for example, “at invoice,” “$100 below invoice,” “two percent above invoice”) and if freight is already included, make sure freight isn’t added again to the sales contract.
					p.unmarg.
						• Base Price is the cost of the car without options, but includes standard equipment and factory warranty. This price is printed on the Monroney sticker.
					p.unmarg.
						• Monroney Sticker Price (MSRP) shows the base price, the manufacturer’s installed options with the manufacturer’s suggested retail price, the manufac-turer’s transportation charge, and the fuel economy (mileage). Affixed to the car window, this label is required by federal law, and may be removed only by the purchaser.
					p.
						• Dealer Sticker Price, usually on a supplemental sticker, is the Monroney sticker price plus the suggested retail price of dealer-installed options, such as additional dealer markup (ADM) or additional dealer profit (ADP), dealer preparation, and undercoating.

	section
		.container
			.row
				.col-sm-12
					h5.color--blue Financing
					p.
						If you decide to finance your car, be aware that the financing obtained by the dealer, even if the dealer contacts lenders on your behalf, may not be the best deal you can get. Contact lenders directly. Compare the financing they offer you with the financing the dealer offers you. Because offers vary, shop around for the best deal, comparing the annual percentage rate (APR) and the length of the loan. When negotiating to finance a car, be wary of focusing only on the monthly payment. The total amount you will pay depends on the price of the car you negotiate, the APR, and the length of the loan.
					p.
						Sometimes, dealers offer very low financing rates for specific cars or models, but may not be willing to negotiate on the price of these cars. To qualify for the special rates, you may be required to make a large down payment. With these conditions, you may find that it’s sometimes more affordable to pay higher financing charges on a car that is lower in price or to buy a car that requires a smaller down payment.
					p.
						Before you sign a contract to purchase or finance the car, consider the terms of the financing and evaluate whether it is affordable. Before you drive off the lot, be sure to have a copy of the contract that both you and the dealer have signed and be sure that all blanks are filled in.
					p.
						Some dealers and lenders may ask you to buy #[a(href="https://www.consumer.ftc.gov/articles/0110-credit-insurance" target="_blank" rel="noopener") credit insurance] to pay off your loan if you should die or become disabled. Before you buy credit insurance, consider the cost, and whether it’s worthwhile. Check your existing policies to avoid duplicating benefits. Credit insurance is not required by federal law. If your dealer requires you to buy credit insurance for car financing, it must be included in the cost of credit. That is, it must be reflected in the APR. Your #[a(href="http://www.naag.org/" target="_blank" rel="noopener") state Attorney General] also may have requirements about credit insurance. Check with your #[a(href="http://www.naic.org/state_web_map.htm" target="_blank" rel="noopener") state Insurance Commissioner] or #[a(href="http://www.usa.gov/topics/consumer.shtml" target="_blank" rel="noopener") state consumer protection agency].
					p.
						Before you negotiate the price of your next new car, use this worksheet to establish the bargaining room. *You can get the invoice price by looking at the 
	section
		.container
			.row
				.col-sm-12
					h5.color--blue Trading in Your Old Car
					p.
						Discuss the possibility of a trade-in only after you’ve negotiated the best possible price for your new car and after you’ve researched the value of your old car. Find out what your current vehicle is worth before you negotiate the purchase of a new car. Check the #[a(href="http://www.nadaguides.com/" target="_blank" rel="noopener") National Automobile Dealers Association’s (NADA)] Guides, Edmunds, and #[a(href="http://www.kbb.com/" rel="noopener" target="_blank") Kelley Blue Book.] This information may help you get a better price from the dealer. Though it may take longer to sell your car yourself, you generally will get more money than if you trade it in.
	section
		.container
			.row
				.col-sm-12
					h5.color--blue Considering a Service Contract
					p.
						#[a(href="https://www.consumer.ftc.gov/articles/0054-auto-service-contracts-and-warranties" target="_blank" rel="noopener") Service contracts] that you may buy with a new car provide for the repair of certain parts or problems. These contracts are offered by manufacturers, dealers, or independent companies and may or may not provide coverage beyond the manufacturer’s warranty. Remember that a warranty is included in the price of the car while a service contract costs extra.
					p.unmarg.
						Before deciding to purchase a service contract, read it carefully and consider these questions:
					p.unmarg.
						• What’s the difference between the coverage under the warranty and the coverage under the service contract?
					p.unmarg.
						• What repairs are covered?
					p.unmarg.
						• Is routine maintenance covered?
					p.unmarg.
						• Who pays for the labor? The parts?
					p.unmarg.
						• Who performs the repairs? Can repairs be made elsewhere?
					p.unmarg.
						• How long does the service contract last?
					p.
						• What are the cancellation and refund policies?
