extends /layout

block content
	section#hero.cover.height-60.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		.background-image-holder
			//-background image for smaller devices
			img(src="/img/header/calculators.jpg" alt="Header Image")
		div#hero-content.container.pos-vertical-center
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Calculators
	section
		.container
			.row
				.col-sm-12
					h5.color--blue Budget Calculator
					p.
						Need some help putting together a budget? We've got you covered.
				.col-sm-12
					a.btn.btn-blue(href="https://www.quicken.com/budget-calculator" target="_blank")
						span.btn__text Budget Calculator
	section
		.container
			.row
				.col-sm-12
					h5.color--blue Home Loan Calculator
					p.
						How much of a mortgage can you afford? What other fees should I budget for? Let us help you figure it out.
				//-.col-sm-12
					a.btn.btn-blue(href="https://tularefcu.cudlautosmart.com/Finance" target="_blank" rel="noopener") 
						span.btn__text Loan Calculator
					//-.calculator.bg--gray.clearfix
						
						//-iframe(src="https://tularefcu.cudlautosmart.com/Finance")

						//- script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
						//- script(src='/customjs/jquery.accrue.min.js')
						//- script.
						//- 	$(document).ready(function(){
						//- 		$(".calculator").accrue();
						//- 	});
				.col-sm-12
					a.btn.btn-blue(href="https://eloans.mortgagemaximum.com/calculators/calculators.asp" target="_blank")
						span.btn__text Home Loan Calculator
	section
		.container
			.row
				.col-sm-12
					h5.color--blue Auto Loan Calculator
					p.
						Not sure how much of a car payment you can afford? Let us help.
				.col-sm-12
					a.btn.btn-blue(href="https://tularefcu.cudlautosmart.com/Finance" target="_blank")
						span.btn__text Auto Loan Calculator
	section
		.container
			.row
				.col-sm-12
					h5.color--blue Retirement Calculator
					p.
						Don't want to work for the rest of your life? We'll help you plan for a secure tomorrow.
				.col-sm-12
					a.btn.btn-blue(href="https://secure05.principal.com/pension/public-planner/index.html" target="_blank")
						span.btn__text Retirement Calculator
