extends /layout

block content
	section#hero.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		.background-image-holder
			img(src="/img/header/home2_old.jpg" alt="Header Image")
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Careers
	section
		.container
			.row
				.col-md-12
					h5.color--blue Career Opportunities
					p.
						You may print, complete, and mail or deliver this application along with a copy of your resume to any Tulare Federal branch:
					p.
						You may submit your resume by e-mail to #[a(href="ymagana@tularefcu.org") ymagana@tularefcu.org], drop it off at any Tulare Federal branch, or mail your resume to the following address: 300 North K St. Tulare, CA 93274
				.col-md-12
					a.btn.btn-blue(href="#")
						span.btn__text Apply Now
