extends /layout

block content
	section#hero.cover.height-60.imagebg.parallax.text-center(data-overlay="5")
		.background-image-holder
			img(src="/img/header/home2_old.jpg" alt="Header Image")
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Careers
	section
		.container
			.row
				.col-md-12
					h5.color--blue Career Opportunities
					p.
						Tulare Federal employees are dedicated to build valuable relationships with our members to create lifelong financial success. If you share the passion to help others, we encourage you to explore our career opportunities!

					p.
						We currently have no open positions at this time but you are welcome to email your resume to #[a(href="mailto:ymagana@tularefcu.org") ymagana@tularefcu.org]. Thank you for your interest!
					a.btn.btn-blue.mb--2(href="/pdf/employment-application.pdf" target="_blank")
						span.btn__text Download Application

					p.unmarg.
						Tulare County Federal Credit Union is a great place to work, these are some of the top reasons our employees love working here:
					p.unmarg •    Medical, Dental, and Vision Insurance
					p.unmarg •    401(k) contribution
					p.unmarg •    Life Insurance
					p.unmarg •    Vacation
					p.unmarg •    Paid Holidays
					p •    Employee Assistance program (EAP)
					p.
						Tulare County Federal Credit Union is an Equal Opportunity Employer and does not discriminate on the basis of race, religion, color, sex, gender identity, sexual orientation, age, non-disqualifying physical or mental disability, national origin, veteran status or any other basis covered by appropriate law.
