extends /layout

block content
	section.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		div.background-image-holder(style="background-image: url(/img/header/contact.jpg); background-position:center bottom; opacity: 1;") 
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/contact.jpg" alt="" srcset="/img/header/contact.jpg 1600w, /img/header/contact.jpg 300w, /img/header/contact.jpg 768w, /img/header/contact.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")

	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Contact
				
	section
		div.container
			div.row
				div.col-md-12
					h5.color--blue.
						Tulare Federal Call Center
					p.
						The Call Center staff can help you and take care of nearly anything that a branch can. With the Call Center you can apply for a loan, make payments, transfer funds, open a CD, check your balance and much more.
					p.
						Utilize the Call Center today – (559) 686-1791
			section
			hr
			section

			div.row.text-center

				

				div.col-md-12
					h5.color--blue Contact Us
					p.
						Email us at: #[a(href="mailto:questions@tcfcu.org") questions@tcfcu.org]
			.row.text-center
				.col-sm-8.col-md-7.center-column
					.row.text-center
						form.text-left.form-email.attempted-submit(action="http://4cc.co/Test/mail.php" data-success="Thanks for your enquiry, we'll be in touch shortly.", data-error='Please fill in all fields correctly.', data-recaptcha-theme='light', novalidate='true')
							.col-sm-6
								label Your Name:
								input.validate-required(type='text', name='Name')
							.col-sm-6
								label Email Address:
								input.validate-required.validate-email(type='email', name='Email')
							.col-sm-12
								label Message:
								textarea.validate-required(rows='6', name='Message')
							.col-sm-5.col-md-4.center-column
								a.btn.btn-blue(type='submit', data-text='Send Enquiry')
									span.btn__text Send Enquiry
			section
			hr
			section
			div.row.text-center

				div.col-md-6
					h5.color--blue Telephone Hours

					p.unmarg.
						9:00AM – 5:00PM, Mon – Thurs
					p.unmarg.
						9:00AM – 6:00PM, Friday

				div.col-md-6
					h5.color--blue Branch Hours

					p.unmarg.
						10:00AM – 5:00PM, Mon – Thurs
					p.unmarg.
						10:00AM – 6:00PM, Friday
			section
			hr
			section
			div.row.text-center
				
				div.col-md-4
					h5.color--blue Visalia
					p.
						5133 West Walnut Visalia, CA 93277 <br/>
						(559) 636-7400
				div.col-md-4
					h5.color--blue Tulare
					p.
						300 North K. Street Tulare, CA 93274 <br/>
						(559) 686-1791
				div.col-md-4
					h5.color--blue Porterville
					p.
						617 N Main St. Porterville, CA 93257 <br/>
						(559) 781-0159

			div.row.text-center
				div.col-md-12
					a.btn.btn-blue(href="about")
						span.btn__text About TCFCU





			hr
			section#map
		.map-container.border--round.gmaps-active(data-maps-api-key='AIzaSyBFxlargzJc2CmgNeXHpnAeXJ1y4C5n64U', data-address='5133 West Walnut Visalia, CA 93277; 300 North K. Street Tulare, CA 93274; 617 N Main St. Porterville, CA 93257', data-map-style='[{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]}]', data-map-zoom='10', style='position: relative; overflow: hidden;')
  
					
