extends /layout

block content
	section#hero.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		.background-image-holder
			//-background image for smaller devices
			img(src="/img/header/products-and-services.jpg" alt="Header Image")
		div#hero-content.container.pos-vertical-center
			//-.row.text-center
				.col-sm-12
					h1 Credit Cards
	//-section
		.container
			.row
				.col-md-12.text-center
					a.btn.btn-blue.type--uppercase(href="/loans")
						i.icon.icon--xs.fa.fa-arrow-left.color--blue(style="margin-right:20px;")
						span.btn__text Back to Loans

	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Digital Banking
	section
		.container

			.row
				.col-md-12
					h5.color--blue Online Banking
					p.
						#[a(href="https://tularefcu.online-cu.com/ISuite5/Features/Auth/MFA/Default.aspx" target="_blank" rel="noopener") Online Banking] is the way to conveniently manage your accounts – 24/7.
			
			.row.mt--2
				.col-md-12
					p.unmarg.
						• View and print your account information
					p.unmarg.
						• Review transactions and pending transactions
					p.unmarg.
						• View checks cleared
					p.unmarg.
						• Update contact information
					p.unmarg.
						• Transfer funds between Tulare Federal accounts
					p.unmarg.
						• Pay your bills with our online Bill Pay
					p.unmarg.
						• Go paperless by switching to #[a(href="https://tularefcu.online-cu.com/ISuite5/Features/Auth/MFA/Default.aspx" target="_blank" rel="noopener") E-Statements]
					p.unmarg.
						• #[span(data-tooltip="e-Lerts are e-mail notifications you can set up for specific transactions on your account.") Set up account eLerts]
				
			.row.mt--1
				.col-md-12
					h5.color--blue Mobile Application
					p.
						Banking in the palm of your hand –anytime, anywhere.
			
			.row.mt--2.final
				.col-md-12
					p.unmarg.
						• View account
					p.unmarg.
						• Transfer funds
					p.unmarg.
						• Deposit checks
					p.unmarg.
						• Pay bills already setup in through Bill Pay

				.col-md-12
					a.btn.btn-blue(href="https://itunes.apple.com/us/app/tulare-county-federal-credit/id672861009"  target="_blank" rel="noopener")
						span.btn__text Download the iOS App
				.col-md-12
					a.btn.btn-blue(href="https://play.google.com/store/apps/details?id=com.tularecountyfcu.mobile"  target="_blank" rel="noopener")
						span.btn__text Download the Andriod App

			.row.mt--1
				.col-md-12
					h5.color--blue Bill Pay
					p.
						Paper is great for some things, paying bills isn't one of them.
			
			.row.mt--2.final
				.col-md-12
					p.unmarg.
						• Set up bills in one easy step
					p.unmarg.
						• Schedule one time & recurring payments
					p.unmarg.
						• Pay at least one bill a month & it's free
					p.unmarg.
						• POP Money – Person to Person payments let you send, receive or request money with just an email address or mobile number*
					p.unmarg.
						• Account to Account Payments – Transfer money from other institutions to your Tulare Federal account
					p.
						*Terms & conditions apply.
				
		

			
