extends /layout

block content
	section#hero.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		.background-image-holder
			img.attachment-full.size-full(src="/img/header/creditscore.jpg" alt="Header image")
		div#hero-content.container.pos-vertical-center

				
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Knowing is half the battle
	section
		.container
			.row
				.col-sm-6
					video#video(controls='controls', preload='none', crossorigin='anonymous', poster='https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/194/videos/40/poster/CREDIT_TIPS.jpg')
						source(src='https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/194/videos/Tips_to_raise_your_credit_score_1.mp4', type='video/mp4')
						track(kind='subtitles', srclang='en', label='English', src='/mobile/captionProxy.php?file=https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/194/videos/40/RaiseYourCreditScore.vtt')
						object#swfPlayer(style='z-index: 10000;', type='application/x-shockwave-flash', data='../m/swf/player.swf', width='512', height='288')
							param(name='allowfullscreen', value='true')
							param(name='allowscriptaccess', value='always')
							param(name='flashvars', value='video=https%3A%2F%2Fx7i5t7v9.ssl.hwcdn.net%2Fcds%2FmoneyBasics%2F194%2Fvideos%2FTips_to_raise_your_credit_score_1.mp4&poster=https%3A%2F%2Fx7i5t7v9.ssl.hwcdn.net%2Fcds%2FmoneyBasics%2F194%2Fvideos%2F40%2Fposter%2FCREDIT_TIPS.jpg')
							param(name='wmode', value='opaque')
							//if IE
								param(name='movie', value='../m/swf/player.swf')
							img(src='https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/194/videos/40/poster/CREDIT_TIPS.jpg', width='510', height='288', alt='Tips On Raising Your Credit Score')
							p
								| Your browser can&rsquo;t play HTML5 video. 
								a.hoverZoomLink(href='https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/194/videos/Tips_to_raise_your_credit_score_1.mp4')
									| Download
									| it
								|  instead.

				.col-sm-6
					h5.color--blue How to get your credit report and take action to improve your financial health
					p With knowledge comes responsibility and we've got 3 steps you can take to collect your report, better understand your score and protect yourself from fraudulent reporting.
	section
		.container
			.row
				.col-sm-12
					h5.color--blue 1. Get your free credit report
					p.
						The Fair Credit Reporting Act (FCRA) requires each of the nationwide credit reporting companies — Equifax, Experian, and TransUnion — to provide you with a free copy of your credit report, at your request, once every 12 months. The FCRA promotes the accuracy and privacy of information in the files of the nation’s credit reporting companies. The Federal Trade Commission (FTC), the nation’s consumer protection agency, enforces the FCRA with respect to credit reporting companies.

					p.
						A credit report includes information on where you live, how you pay your bills, and whether you’ve been sued or have filed for bankruptcy. Nationwide credit reporting companies sell the information in your report to creditors, insurers, employers, and other businesses that use it to evaluate your applications for credit, insurance, employment, or renting a home.

					p.
						The three nationwide credit reporting companies have set up a central website, a toll-free telephone number, and a mailing address through which you can order your free annual report.

					p.
						To order, visit #[a(href="http://annualcreditreport.com" target="_blank" rel="noopener") annualcreditreport.com], call 1-877-322-8228. Or complete the #[a(href="https://www.consumer.ftc.gov/articles/pdf-0093-annual-report-request-form.pdf" rel="noopener" target="_blank") Annual Credit Report Request Form] and mail it to: Annual Credit Report Request Service, P.O. Box 105281, Atlanta, GA 30348-5281. Do not contact the three nationwide credit reporting companies individually. They are providing free annual credit reports only through #[a(href="http://annualcreditreport.com" target="_blank" rel="noopener") annualcreditreport.com], 1-877-322-8228 or mailing to Annual Credit Report Request Service.
	section
		.container
			.row
				.col-sm-12
					h5.color--blue 2. Pay attentiont to the details
					p.
						Under the FCRA, both the credit report­ing company and the information provider (that is, the person, company, or organization that provides information about you to a consumer reporting company) are responsible for #[a(href="https://www.consumer.ftc.gov/articles/0151-disputing-errors-credit-reports" target="_blank" rel="noopener") correcting inaccurate or incomplete information in your report]. To take full advantage of your rights under this law, contact the credit reporting company and the information provider.

					p.
						Tell the credit reporting company, in writing, what information you think is inaccurate.

					p.
						Credit reporting companies must investigate the items in question — usually within 30 days — unless they consider your dispute frivolous. They also must forward all the relevant data you provide about the inaccuracy to the organization that provided the information. After the information provider receives notice of a dispute from the credit reporting company, it must investigate, review the relevant information, and report the results back to the credit reporting company. If the information provider finds the disputed information is inaccurate, it must notify all three nationwide credit reporting companies so they can correct the information in your file.
					p.
						When the investigation is complete, the credit reporting company must give you the written results and a free copy of your report if the dispute results in a change. (This free report does not count as your annual free report.) If an item is changed or deleted, the credit reporting company cannot put the disputed information back in your file unless the information provider verifies that it is accurate and complete. The credit reporting company also must send you written notice that includes the name, address, and phone number of the information provider.
	section
		.container
			.row
				.col-sm-12
					h5.color--blue 3. Be careful, not all credit reports are equal
					p.
						Only one website is authorized to fill orders for the free annual credit report you are entitled to under law — annualcreditreport.com. Other websites that claim to offer “free credit reports,” “free credit scores,” or “free credit monitoring” are not part of the legally mandated free annual credit report program. In some cases, the “free” product comes with strings attached. For example, some sites sign you up for a supposedly “free” service that converts to one you have to pay for after a trial period. If you don’t cancel during the trial period, you may be unwittingly agreeing to let the company start charging fees to your credit card.

					p.
						Some “imposter” sites use terms like “free report” in their names; others have URLs that purposely misspell #[a(href="http://annualcreditreport.com" target="_blank" rel="noopener") annualcreditreport.com] in the hope that you will mistype the name of the official site. Some of these “imposter” sites direct you to other sites that try to sell you something or collect your personal information.
					p.
						#[a(href="http://annualcreditreport.com" target="_blank" rel="noopener") annualcreditreport.com] and the nationwide credit reporting companies will not send you an email asking for your personal information. 

					p.
						If you get an email, see a pop-up ad, or get a phone call from someone claiming to be from #[a(href="http://annualcreditreport.com" target="_blank" rel="noopener") annualcreditreport.com] or any of the three nationwide credit reporting companies, do not reply or click on any link in the message. It’s probably a scam. Forward any such email to the FTC at spam@uce.gov.

	section
		.container
			.row
				.col-sm-12
					p Source: FEDERAL TRADE COMMISSION (#[a(href="http://www.ftc.gov" target="_blank" rel="noopener") www.ftc.gov])
