extends /layout


block content
	- var blogPosts = 3;
	//- Main Hero Header
	section#home-hero.cover.height-80.imagebg.parallax.overlay-blue(data-overlay="5")
		//- background image
		div.background-image-holder(style="background: url(/img/header/home.jpg); opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/home.jpg" alt="" srcset="/img/header/home.jpg 1600w, /img/header/home.jpg 300w, /img/header/home.jpg 768w, /img/header/home.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div.container.pos-vertical-center
			div.row
				div.col-sm-12
					h1.hr-green-after.text-left More than a member, you are a partner

	section#home-landing
		.container
			.row.text-center
				.col-sm-12
					h3.color--blue A simple start to dreaming big
			.row
				.col-sm-12
					p.
						As a member, you mean the world to us. Together we will work with you to build a bright financial future for you and your family and give you the peace of mind of having a partner to guide you through the challenges and changes of life. 
					p.
						We strive to be more than facilitiators, we want to engage and take action to improve the lives of our members and everybody in our community. Apply to become a member, visit a branch and talk to our experts, connect with us through our website and see what it's like to bank with a credit union that is designed to do more.

	section#full-width-ads.unpad--bottom
		.row.text-center.unmarg
			a(href='/loans/auto-loans')
				.col-sm-6.imagebg.height-60.overlay-green(data-overlay="5")
					.background-image-holder
						img(alt="Low Auto Rates" src="/img/test3.jpg")
					.pos-vertical-center
						h3 Low Auto Rates
						.btn.btn-white
							span.btn__text Learn More
			a(href='#')
				.col-sm-6.imagebg.height-60.overlay-blue(data-overlay="5")
					.background-image-holder
						img(alt="Holiday Skip A Pay" src="/img/test2.jpg")
					.pos-vertical-center
						h3 Holiday Skip-A-Pay
						.btn.btn-white
							span.btn__text Learn More

	section#our-services
		.container
			.row.text-center
				.col-sm-12.mb--3
					h3.color--blue Banking made easy
			.row
				a(href='/checking')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Checking" src="img/icons/checking-icon.png")
						h6.text-center CHECKING
				a(href='/savings')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="savings" src="img/icons/savings-icon.png")
						h6.text-center SAVINGS
				a(href='/loans/credit-cards')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Credit Card" src="img/icons/credit-card-icon.png")
						h6.text-center CREDIT CARD
				a(href='/loans/auto-loans')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Auto Loans" src="img/icons/auto-loan-icon.png")
						h6.text-center AUTO LOANS
			.row
				a(href='/calculators')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Calculator" src="img/icons/home-loan-icon.png")
						h6.text-center CALCULATOR
				a(href='/digital-banking')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Digital Banking" src="img/icons/digital-banking-icon.png")
						h6.text-center DIGITAL BANKING
				a(href='/loans/home-loans')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Mortgage" src="img/icons/mortgage-icon.png")
						h6.text-center MORTGAGE
				a(href='/calculators')
					.col-sm-3.col-xs-6.inline-block-xs
						img.block(alt="Budgeting Tool" src="img/icons/budget-tool-icon.png")
						h6.text-center BUDGETING TOOL


	section.imagebg.parallax.height-60.overlay-green(data-overlay="5")
		.background-image-holder
			img(alt="Porterville Highschool Kids" src="/img/phs.jpg")
		.container.pos-vertical-center
			.row.text-center
				.col-sm-12
					h3 Our Vision for the Future
					p.large.
						We built the first on campus / student-run credit union branch on a high school campus in Tulare County. <br/> 
						This is our commitment to the next generation of Valley leaders.
					a.btn.btn-white(href="http://tularefederal.org/")
						span.btn__text Learn More
						
	section#customer-comments
		.container
			.row.text-center
				.col-xs-12.mb--1.unpad--bottom
					h3.home.color--grey See what everyone's talking about
					
			.row.text-center.slider(data-paging="true")
				ul.slides
					li.col-xs-12.mb--3
						h3.color--green "Snazzy quote goes here from a member"
						p.color--green Member Name
					li.col-xs-12.mb--3
						h3.color--green "Snazzy quote goes here from a member"
						p.color--green Member Name
					li.col-xs-12.mb--3
						h3.color--green "Snazzy quote goes here from a member"
						p.color--green Member Name
