doctype html
html(lang="en")

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
		meta(name='description', content='Tulare County Federal Credit Union')
		meta(name='author', content= "4Creeks Creative - JJ Fry")
		link(rel="icon" href="/img/logo/icon-blue.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Tulare County Federal Credit Union 
		//-#{_path}
		//- Typekit fonts
		script(src="https://use.typekit.net/hfm6mfu.js")
		script.
			try{Typekit.load({ async: true });}catch(e){}

		block head

		!= css("/")
		script(src="/customjs/01jquery-3.1.1.min.js")

	body
		//- Header
		include /partial/_header
		//- Content
		block content
		//- Footer
		include /partial/_footer
		//- Now-leaving modal
		include /partial/_nowLeaving

		!= js("/")

		//- Google Analytics
		script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-106330513-4')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-106330513-4');

		//- FreshDesk Widget
		script(type='text/javascript', src='http://assets.freshdesk.com/widget/freshwidget.js')
		script(type='text/javascript').
			FreshWidget.init("", {
			"queryString": "&widgetType=popup&submitTitle=Send+Request+&captcha=yes", 
			"utf8": "✓", 
			"widgetType": "popup", 
			"buttonType": "text", 
			"buttonText": "Support", 
			"buttonColor": "white", 
			"buttonBg": "#10222b", 
			"alignment": "2", 
			"offset": "235px", 
			"formHeight": "500px", 
			"captcha": "yes", 
			"url": "https://tularefcu.freshdesk.com"} );
