extends /layout

block content
	section#hero.cover.height-70.imagebg.parallax(data-overlay="5")
		.background-image-holder
			img(src="/img/header/loans-index.jpg" alt="header image")
		div#hero-content.container.pos-vertical-center
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Loans
	section#loan-nav
		.container
			.row.mb--3
				.col-sm-12
					h5.color--blue Low Rates, Flexible Terms. Apply Today!
					p.
						With busy lifestyles, you can turn to Tulare Federal as the best choice for your borrowing needs. You will find a variety of loans including, Auto, Recreational, Mortgage, Personal, and Credit Cards. Take advantage of our low rates, no hassle applications process, and flexible terms, and apply today.
			.row.masonry.mb--3
				.masonry__container
					a.loan-type.col-md-4.col-sm-6.imagebg.masonry__item(data-overlay="5", href="/loans/auto-loans")
						.background-image-holder
							img(alt="Auto / Recreational Loans" src="/img/header/loans-auto.jpg")
						.container.pt--1.pb--2
							h4.color--white Auto / Recreational Loans
							p.hr-white-before.
								Get pre-approved at the Credit Union before visiting the dealership.
					a.loan-type.col-md-4.col-sm-6.imagebg.masonry__item(data-overlay="5", href="/loans/home-loans")
						.background-image-holder
							img(alt="home loans" src="/img/header/loans-mortgage.jpg")
						.container.pt--1.pb--2
							h4.color--white Home Loans
							p.hr-white-before.
								We’ve helped thousands of members realize their home ownership dream.
					a.loan-type.col-md-4.col-sm-6.imagebg.masonry__item(href="/loans/personal-loans", data-overlay="5")
						.background-image-holder
							img(alt="Personal loans" src="/img/header/loans-personal.jpg")
						.container.pt--1.pb--2
							h4.color--white Personal
							p.hr-white-before.
								A variety of personal loans are available to members who need additional cash.
					a.loan-type.col-md-4.col-sm-6.imagebg.masonry__item(href="/loans/credit-cards", data-overlay="5")
						.background-image-holder
							img(alt="Credit cards" src="/img/header/credit-card-update.jpg")
						.container.pt--1.pb--2
							h4.color--white Credit Cards
							p.hr-white-before.
								The convenience and buying power of Visa for less than most other financial institutions.
					a.loan-type.col-md-4.col-sm-6.imagebg.masonry__item(href="/loans/solar-loans", data-overlay="5")
						.background-image-holder
							img(alt="Solar Loans" src="/img/header/loans-solar.jpg")
						.container.pt--1.pb--2
							h4.color--white Solar
							p.hr-white-before.
								Add solar panels to your home. Lower your energy bills and earn tax credits.
			.row
				.col-sm-12
					h5.color--blue Rates
					p.
						Let Tulare Federal do the leg work for you! We consistently shop the local rates in order to offer our Member-Owners competitively priced rates that fit your needs. Please contact the Credit Union for the most recent information. This schedule is subject to change at any time, without notice. APR=Annual Percentage Rates
			.row.mt--1.mb--1
				.col-sm-12
					a.btn.btn-blue(href="/rates")
						span.btn__text View Loan Rates Chart
			.row
				.col-sm-12
					h5.color--blue Loan Calculators
			.row.mb--1
				.col-sm-12
					a.btn.btn-blue(href="https://tularefcu.cudlautosmart.com/Finance" target="_blank")
						span.btn__text Auto Loan Calculator
			.row.mb--1
				.col-sm-12
					a.btn.btn-blue(href="https://secure05.principal.com/pension/public-planner/index.html" target="_blank")
						span.btn__text Retirement Planning Claculator
			.row.mb--1
				.col-sm-12
					a.btn.btn-blue(href="https://eloans.mortgagemaximum.com/calculators/calculators.asp" target="_blank")
						span.btn__text Home Loan Calculator
