extends /layout

block content
	section#hero.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		.background-image-holder
			img.attachment-full.size-full(src="/img/header/managingdebt.jpg" alt="Header image")
		div#hero-content.container.pos-vertical-center
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Keys to managing debt
	section
		.container
			.row
				.col-md-12
					h5.color--blue Household budgets are key to financial health
					p.
						A financial budget is just like a diet. Every day you eat things without a second thought and at the end of the day it adds up. The only way to know how what you eat impacts you is to note it and track results. 

					p.
						A household budget accomplishes the same thing — it's a way to understand your financial health in a way that goes beyond your gut feel. When things go haywire financially it's debt collectors, not doctors that you will be visiting. Here's some tips to get you started on your financial physical and how to keep the collectors at bay. 
	section
		.container
			.row
				.col-md-12
					h5.color--blue A Household Budget Can Help You
					p.
						Have you set up a household budget yet? It’s a great tool for tracking your monthly expenses and income – and planning for the future.

					p.
						Besides helping you get organized, it also allows you to focus on two important things: How much money you have in the bank, and how much your bills cost you each month.

					p.
						A realistic budget can help keep your revenue and expenses in line, and can even be a roadmap for setting realistic saving goals – whether it’s for a new car, a fun vacation or the day you retire.

					p.
						It can even help you plan for the unexpected - a trip to the hospital, a costly car repair, or a broken water heater.

					p.
						The basics are straightforward: How much money do you hav, and how much do you spend? With a good budget, at the end of each month you can compare the list of your expenses with your income.

					p.
						Whether you purchase a computer program to enter and track your income and expense categories, do your budget online, or with pencil and paper at home, make sure to record the numbers and total them up every month.

					p.
						While you can – and should – make adjustments each month as necessary, make sure you also take a look at your spending and income at the end of each year so you can set goals for the coming year.
	section
		.container
			.row
				.col-md-12
					h5.color--blue Household budget: Tracking your expenses – expected and unexpected
					p.
						A big first step in creating a household budget is figuring out your monthly expenses.

					p.
						Thinking of all the things you spend money on will take some work, so don't get frustrated if it doesn't all happen in a single sitting.

					p.
						Start by making a list of the money you spend - and what you spend it on - keeping in mind that the number is likely to vary from month to month.

					p.
						If possible, review all your bills from the past year. The more numbers you can include, the more likely you are to have a realistic picture of your actual expenses … and the more likely you are to not overlook occasional costs.

					p.
						If you only have 3 months worth of bills, add those totals and divide by 3. If you can find your expenses for a full year, get those totals and divide by 12. That will give you average monthly totals to use for your budget.

					p.
						If you don’t keep your monthly bills handy, sign on to your online bank account and check your monthly statements. You’ll be able track what you’ve paid for with your debit card, as well as any paper checks you’ve written.

					p.
						Here are some important expenses to track:
	section
		.container
			.row.text-center
				.col-sm-12
					video#video(controls='controls', preload='none', crossorigin='anonymous', poster='https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/738/videos/133/poster/TeachingKidsToSave_poster.png')
						source(src='https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/738/videos/133/TeachingKidsToSave_encoded.mp4', type='video/mp4')
						track(kind='subtitles', srclang='en', label='English', src='/mobile/captionProxy.php?file=https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/738/videos/133/TeachKidsToSave.vtt')
						object#swfPlayer(style='z-index: 10000;', type='application/x-shockwave-flash', data='../m/swf/player.swf', width='512', height='288')
							param(name='allowfullscreen', value='true')
							param(name='allowscriptaccess', value='always')
							param(name='flashvars', value='video=https%3A%2F%2Fx7i5t7v9.ssl.hwcdn.net%2Fcds%2FmoneyBasics%2F738%2Fvideos%2F133%2FTeachingKidsToSave_encoded.mp4&poster=https%3A%2F%2Fx7i5t7v9.ssl.hwcdn.net%2Fcds%2FmoneyBasics%2F738%2Fvideos%2F133%2Fposter%2FTeachingKidsToSave_poster.png')
							param(name='wmode', value='opaque')
							//if IE
								param(name='movie', value='../m/swf/player.swf')
							img(src='https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/738/videos/133/poster/TeachingKidsToSave_poster.png', width='510', height='288', alt='Teach Your Kids The Importance Of Saving Money')
							p
								| Your browser can&rsquo;t play HTML5 video. 
								a.hoverZoomLink(href='https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/738/videos/133/TeachingKidsToSave_encoded.mp4')
									| Download
									| it
								|  instead.

	section
		.container
			.row
				.col-md-12
					h5.color--blue Fixed payments
					p.
						These are costs that stay the same - things such as rent or mortgage payments, car payments, student loans and your cable bill. Don’t forget regular but occasional things like car or life insurance bills.
					h5.color--blue Variable costs
					p.
						These are bills you have to pay monthly but have totals that can vary – things like gas, electric, water and phone bills, as well credit card payments.
					h5.color--blue Ongoing expenses
					p.
						This category includes things like fuel for your car, groceries, as well as entertainment costs – such as going out to eat, drink, watch a movie - or vacations and other travel expenses.
					h5.color--blue Irregular expenses and cash
					p.
						These are miscellaneous things such as clothes; gifts for birthdays and holidays; medical co-pays or prescriptions; printer ink; donations to charities; sporting events; and cash you might spend on snacks or other small purchases.

					p.
						Set up the expenses category of your household budget so you can track your regular expenses individually. This helps you monitor any possible changes, and can even help remind you to make sure you’ve paid a bill.
					h5.color--blue Expect the unexpected
					p.
						You should also set aside money each month for unexpected expenses such as emergency medical bills or car repairs.

					p.
						There is no specific number for this, but it’s always better to be safe than sorry. Recommendations include always having at least an extra $1,000 to $2,000 in the bank, setting aside 10% of your income each month, or giving yourself a cushion of at least 6 times your average monthly expenses. In other words, be prepared.

					p.
						While banks can loan you money to cover big expenses, remember that you’ll still have to pay that loan back, along with interest.
	section
		.container
			.row
				.col-md-12
					h5.color--blue Household budget: Tracking your income
					p.
						Spending only what you can afford is one of the prime considerations when developing a household budget. When you know how much money you have, you’ll know how much you can afford to spend, and what you can save.
					h5.color--blue How much do you currently have in the bank?
					p.
						Money you have in your checking and savings accounts becomes your starting point. But don’t touch your savings – this is your head start for the future.

					p.
						If you use online banking, checking your account balances is simple. Sign on and check the numbers.
					h5.color--blue How much do you get paid?
					p.
						This includes paychecks and other regular income you might get. Leave overtime pay out of your base income calculations, since that money might not be a guarantee from month to month.

					p.
						Your list of expenses will be the total of what you can predict having to spend each month. Your income numbers are how much money you have to cover those expenses – and hopefully you will have enough left over to set aside for saving.
					h5.color--blue Can you reduce expenses in order to save?
					p.
						After seeing what you spend each month, take a look at those costs to see if you can economize. Are you spending too much on entertainment? If you raise the temperature in your house by a degree or two in the summer, or lower it in the winter, you can reduce utility bills. If you can afford it, paying off loans early will save money on interest payments. Do you need to drive as much as you do? Reducing time in the car will cut your gasoline and maintenance costs.

					p.
						Give yourself a challenge: Try to reduce your expenses and keep them down. The money you save will turn to income.

					p.
						Your goal should always be to spend less than you earn. Use that extra money each month to put in some sort of savings account offered by your bank or other trusted financial institution.
	section
		.container
			.row
				.col-sm-12
					h5.color--blue Household budget: Follow your budget and review it
					p.
						After you create a household budget and get in the habit of recording your monthly expenses and income, there is another important step: Reviewing your budget and making adjustments.

					p.
						At the end of each month, check the total amount of your income and expenses. Are they in line with what you expected? Do they fall within your budget?

					p.
						If you’re spending too much, look for ways to cut back.

					p.
						If you are actually spending less than expected, take some time to decide whether to give yourself a small treat with some of the extra money – or add it to your savings for a bigger treat in the future. But keep in mind that it’s always better to have money in the bank.

					p.
						While you can – and should – make budget adjustments each month as necessary, make sure you also take a look at your spending and income at the end of each year so you can set new goals for the coming year.

					p.
						A utility bill could go up or down. You could pay off your car and have more money to put into savings.

					p.
						Use these tips to plan ahead and prepare for the future.
