extends /layout

block content
	section#hero.cover.height-70.imagebg.parallax.text-center(data-overlay="5")
		.background-image-holder
			img(src="/img/header/loans-mortgage.jpg" alt="Header Image" )
		div#hero-content.container.pos-vertical-center
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					iframe(src="https://uat-internetloanapplication.cudl.com/tulare/" style="height:100vh;")
