extends /layout

block content
	section#hero.cover.height-60.imagebg.parallax.text-center
		.background-image-holder
			img(src="/img/header/loans-mortgage.jpg" alt="Header Image" )
		div#hero-content.container.pos-vertical-center
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					//-iframe(src="https://internetloanapplication.cudl.com/tulare/" style="height:100vh;")
