extends /layout

block content
	section#hero.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		.background-image-holder
			//-background image for smaller devices
			img(src="/img/header/loans-mortgage.jpg" alt="Header Image" )
		div#hero-content.container.pos-vertical-center


	section.unpad--bottom
		.container
			.row
				.col-sm-12
					iframe(src="https://uat-internetloanapplication.cudl.com/tulare/" style="height:100vh;")
