extends /layout

block content
	section#hero.cover.height-60.imagebg.parallax
		.background-image-holder
			img(src="/img/header/blog.jpg" alt="Header Image")
		div#hero-content.container.pos-vertical-center
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Resources
	section#loan-nav
		//-.container
			.row.mb--3
				.col-sm-12
					h5.color--blue Keep up with our latest news!
		.row
			.col-sm-12
				iframe(src="https://www.onlinebanktours.com/m/?b=2393" style="width:100%;height:auto;min-height:100vh;")

	section#forms
		.container
			.row
				.col-sm-12
					h5.color--blue Discounted Tickets
				.col-sm-12
					p.bullet.unmarg.
						• #[a(href='https://getawaytoday.com/?referrerid=3321', target='_blank') Discounted Theme Park Tickets]
			.row.mt--1
				.col-sm-12
					h5.color--blue Frequently Requested Forms
			.row.mt--2
				.col-sm-12
					p.bullet.unmarg.
						• #[a(href='/pdf/membership-application.pdf', target='_blank') Membership Application]
					p.bullet.unmarg.
						• #[a(href='/pdf/automatic-deductions-service.pdf', target='_blank') Reacurring ACH Loan Payments]
					p.bullet.unmarg.
						• #[a(href='/pdf/debit-card-request-form.pdf', target='_blank') Debit Card Request Form]
					p.bullet.unmarg.
						• #[a(href='/pdf/direct-deposit-form.pdf', target='_blank') Direct Deposit Form]
					p.bullet.unmarg.
						• #[a(href="check-copy-request.pdf" target="_blank") Check Photocopy Request]
					//-p.bullet.unmarg.
						• Payment Deferral Request
					p.bullet.unmarg.
						• #[a(href='/pdf/travel-notification.pdf', target='_blank') VISA Travel Authorization]
					p.bullet.unmarg.
						• #[a(href='/pdf/address-change.pdf', target='_blank') Address Change]
			.row.mt--1
				.col-sm-12
					h5.color--blue Disclosures
			.row.mt--2
				.col-sm-12
					//-p.unmarg.
						• USA Patriot Act
					//-p.unmarg.
						• EFT Disclosure
					p.bullet.unmarg.
						• #[a(href="/pdf/truth-and-savings-disclosure.pdf" target="_blank" rel="noopener") Truth in Savings]
					//-p.unmarg.
						• Online Banking Disclosure
					p.bullet.unmarg.
						• #[a(href="/pdf/fee-schedule.pdf" target="_blank") Fee Schedule as of Feb 1, 2017]
					//-p.unmarg.
						• Member Privacy Disclosure
					//-p.unmarg.
						• General Terms & Conditions
