//- extends /layout
//- 
//- block content
//- 	section#hero.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
//- 		.background-image-holder
//- 			img(src="/img/header/resources.jpg" alt="Header Image")
//- 	section.unpad--bottom
//- 		.container
//- 			.row
//- 				.col-sm-12
//- 					h2.color--blue Resources
//- 	section
//- 		.container
//- 			.row
//- 				.col-md-12
//- 					h5.color--blue Frequently Requested Forms
//- 			.row.mt--2
//- 				.col-md-12
//- 					p.unmarg.
//- 						• #[a(href='/pdf/membership-application.pdf', target='_blank') Membership Application]
//- 					p.unmarg.
//- 						• #[a(href='/pdf/ach-form.pdf', target='_blank') Automated Clearing House (ACH) Form]
//- 					p.unmarg.
//- 						• #[a(href='/pdf/debit-card-request-form.pdf', target='_blank') Debit Card Request Form]
//- 					p.unmarg.
//- 						• #[a(href='/pdf/direct-deposit-form.pdf', target='_blank') Direct Deposit Form]
//- 					p.unmarg.
//- 						• Check Photocopy Request
//- 					p.unmarg.
//- 						• Payment Deferral Request
//- 					p.unmarg.
//- 						• #[a(href='/pdf/travel-notification.pdf', target='_blank') VISA Travel Authorization]
//- 					p.unmarg.
//- 						• #[a(href='/pdf/address-change.pdf', target='_blank') Address Change]
//- 					p.unmarg.
//- 						• #[a(href='https://getawaytoday.com/?referrerid=3321', target='_blank') Discounted Theme Park Tickets]
//- 			.row.mt--1
//- 				.col-md-12
//- 					h5.color--blue Disclosures
//- 			.row.mt--2
//- 				.col-md-12
//- 					//-p.unmarg.
//- 						• USA Patriot Act
//- 					//-p.unmarg.
//- 						• EFT Disclosure
//- 					p.unmarg.
//- 						• #[a(href="/pdf/truth-and-savings-disclosure.pdf" target="_blank" rel="noopener") Truth Savings]
//- 					//-p.unmarg.
//- 						• Online Banking Disclosure
//- 					p.unmarg.
//- 						• Fee Schedule as of Feb 1, 2017
//- 					//-p.unmarg.
//- 						• Member Privacy Disclosure
//- 					//-p.unmarg.
//- 						• General Terms & Conditions
