extends /layout

block content
	section#hero.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		.background-image-holder
			img.attachment-full.size-full(src="/img/header/checking.jpg" alt="Header image")
		div#hero-content.container.pos-vertical-center
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Info About Student Loans
	section
		.container
			.row
				.col-md-12
					h5.color--blue The Simple Checking Account
					p.
						A convenient checking account that features easy access - no minimum balance and no monthly fees*.
			.row.mt--2
				.col-md-12
					p.unmarg.
						• $25 opening deposit
					p.unmarg.
						• Visa® Debit Card - <a href="https://4cc.typeform.com/to/RJfNey">Easy Replacement</a>
					p.unmarg.
						• #[span(data-tooltip="If your checking account balance drops to a zero balance, your transactions will go through, up to 6 transactions a month.") Overdraft Protection]
					p.unmarg.
						• <a href="/digital-banking">Digital Banking</a>
					p.unmarg.
						•  Access to over 30,000<a href="https://co-opcreditunions.org/locator/" target="_blank">Surcharge-free ATMs</a>
					p.unmarg.
						• Deposit checks from your cell phone via Mobile App (<a href="https://itunes.apple.com/us/app/tulare-county-federal-credit/id672861009"  target="_blank">iOS App </a> for Apple or <a href="https://play.google.com/store/apps/details?id=com.tularecountyfcu.mobile"  target="_blank">Andriod App</a> for Google)
					p.unmarg.
						• <a href="/pdf/direct-deposit-form.pdf" target="_blank">Direct Deposit</a>
					p.unmarg.
						• <a href="https://www.ordermychecks.com/login_a.jsp" target="_blank">Checks</a>
					p.unmarg.
			.row.mt--1
				.col-md-12
					h5.color--blue Student Checking Account
					p.
						A simple and convenient checking account to get students started with banking.
			.row.mt--2
				.col-md-12
					p.unmarg.
						• $1 opening deposit
					p.unmarg.
						• Visa® Debit Card - <a href="https://4cc.typeform.com/to/RJfNey">Easy Replacement</a>
					p.unmarg.
						• <a href="/digital-banking">Digital Banking</a>
					p.unmarg.
						• Access to over 30,000 <a href="https://co-opcreditunions.org/locator/" target="_blank">Surcharge-free ATMs</a>
					p.unmarg.
						• <a href="/pdf/direct-deposit-form.pdf" target="_blank">Direct Deposit</a> 
					p.unmarg.
						• <a href="https://www.ordermychecks.com/login_a.jsp" target="_blank">Checks</a>
	section.unpad--top.final
		.container
			.row
				.col-sm-12
					p
						|*For fees, please refer to our #[a(href='/pdf/fee-schedule.pdf') Fee Schedule].
						br
						|** Based on Credit Union approval.
