extends /layout

block content
	section#hero.cover.height-70.imagebg.parallax.text-center(data-overlay="5")
		.background-image-holder.bg-ct
			img(src="/img/header/terms.jpg" alt="Header Image" )

	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Terms of Use
				.col-sm-12
					a.btn.btn-blue(href="/pdf/tcfcu-annual-privacy.pdf" target="_blank")
						span.btn__text Privacy Policy PDF
	section
		.container
			.row
				.col-sm-12
					p.
						#[strong THESE TERMS GOVERN THE USE OF THIS WEBSITE. PLEASE READ THEM CAREFULLY BEFORE ACCESSING THE SITE. IF YOU DO NOT AGREE WITH THESE TERMS DO NOT ACCESS THE WEBSITE. BY ACCESSING THE WEBSITE OR ANY OF ITS PAGES YOU AGREE TO BE BOUND BY THESE TERMS OF USE.]
						#[br]
						This website has been established by the Tulare Federal Credit Union for the sole purpose of conveying information about the Credit Union's products and services and to allow communication between the Credit Union and its members. Information that appears on this website should be considered an advertisement. Nothing contained in any page on this site takes the place of the credit union's agreements and disclosures that govern its products and services. If any information on the site conflicts with that in the credit union's agreements and disclosures, the agreements and disclosures will control.
					p.
						From time to time the Credit Union may place links to other websites on this page. The Credit Union has no control over any other website and is not responsible for the content on any site other than this one. Users assume all responsibility when they go to other sites via the links on this page.
					p.
						The information and materials contained in this website are owned by the Credit Union or by others, as applicable. No material may be copied, displayed, transmitted, distributed, framed, sold, stored for use, downloaded, or otherwise reproduced except as permitted by law.
					p.
						The Credit Union makes no warranties of any kind regarding the products and services advertised on this site. The Credit Union will use reasonable efforts to ensure that all information displayed is accurate; however, the Credit Union expressly disclaims any representation and warranty, express and implied, including, without limitation, warranties of merchantability, fitness for a particular purpose, suitability, and the ability to use the site without contracting a computer virus. The Credit Union is not responsible for any loss, damage, expense, or penalty (either in tort, contract, or otherwise), including direct, indirect, consequential and incidental damages, that result from the access of or use of this site. This limitation includes, but is not limited to the omission of information, the failure of equipment, the delay or inability to receive or transmit information, the delay or inability to print information, the transmission of any computer virus, or the transmission of any other malicious or disabling code or procedure. This limitation applies even if the Credit Union has been informed of the possibility of such loss or damage.
					p.
						This agreement may be changed from time to time by posting the new Terms of Use on the website. All users agree to be subject to this agreement as it changes from time to time
					p.
						This agreement and the use of this website are governed by the laws of the State of Pennsylvania.
