section#pre-footer.bg--blue
	.container
		.row.text-center.footer
			.col-sm-3.footer
				a.modal-trigger(data-modal-index='1' href="#")
					h5.color--white.footer Need Help
			.col-sm-3.footer
				a(href='/about')
					h5.color--white.footer About
			.col-sm-3.footer
				a(href='https://tularefcu.symapp.jhahosted.com/' target="_blank")
					h5.color--white.footer Join
			//-.col-sm-3.footer
				a(href='https://tcfcu.typeform.com/to/Va7Cog')
					h5.color--white.footer Join
			.col-sm-3.footer
				a(href='/contact')
					h5.color--white.footer Contact
//- LightWidget WIDGET
//-script(src='//lightwidget.com/widgets/lightwidget.js')
//-iframe.lightwidget-widget(src='//lightwidget.com/widgets/29ece567434b5390a5781f285ef133bd.html', scrolling='no', allowtransparency='true', style='width: 100%; border: 0; overflow: hidden;min-height:0px;margin-bottom:-10px;')


section#footer.bg--gray
	.container
		.row.text-center.footer
		.row.mt--3.footer
			.col-sm-3.col-xs-12.footer.float-right.mb--1.text-center
				img.logo(alt="Tulare County Federal Credit Union Equal Housing Lender Logo" src="/img/logo/logo-footer-gray-small.png")
				p.smallest.footer.
					Federally Insured by NCUA NMLS# 1362181
			.col-sm-3.col-xs-12.text-center-xs.mb--1
				p.smaller.footer.
					<strong>Tulare Branch</strong> <br/> 
					300 North K. Street<br/>
					Tulare, CA 93274 <br/>
					(559) 686-1791 <br/>
			.col-sm-3.col-xs-12.text-center-xs.mb--1
				p.smaller.footer.
					<strong>Visalia Branch</strong> <br/> 
					5133 West Walnut <br/>
					Visalia, CA 93277 <br/>
					(559) 636-7400 <br/>
			.col-sm-3.col-xs-12.text-center-xs.mb--1
				p.smaller.footer.
					<strong>Porterville Branch </strong> <br/> 
					617 N Main St. <br/>
					Porterville, CA 93257 <br/>
					(559) 781-0159 <br/>
		.row
			.col-sm-12
				ul.social.text-center-xs
					li.facebook
						a(href="https://www.facebook.com/TulareFCU" target="_blank" rel="noopener")
							i.fa.fa-facebook(title="facebook")
					li.twitter
						a(href="https://twitter.com/tularefcu" target="_blank" rel="noopener")
							i.fa.fa-twitter(title="twitter")
					li.instagram
						a(href="https://www.instagram.com/tularefcu/" target="_blank" rel="noopener")
							i.fa.fa-instagram(title="instagram")
		.row.mt--3
			.col-sm-12
				ul.sub-footer-nav.text-center-xs
					li
						a(href="/privacy-policy") Privacy Policy
					li
						a(href="/terms-of-use") Terms of Use
					li
						a(href="/pdf/footer-disclosure.pdf" target="_blank" rel="noopener") Disclosures
					li
						span Routing #: 321178158 
				p.
					If you are using a screen reader and are having problems using our website, please call us at (559) 686-1791 for assistance.
