#new-website-modal.modal-instance(style="display:none;")
	.modal-container(data-modal-id="2")
		#new-website.modal-content
			.boxed.boxed--lg
				.modal-close.modal-close-cross
				h3.color--blue.hr-blue-after New Digital Banking
				h5 Coming February 2020
				p.
					A new and improved digital banking experience is on the way!
				.row.text-center
					.col-sm-6
						a.btn.btn-green(href="/upgrade" rel="noopener")
							span.btn__text Learn More
					.col-sm-6
						a.btn.btn-blue.ignore(href="https://my.tularefcu.org/" target="_blank" rel="noopener")
							span.btn__text Continue
