extends /layout

block content
	section.cover.height-30.imagebg.parallax(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-index.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-index.jpg" alt="" srcset="/img/header/loans-index.jpg 1600w, /img/header/loans-index.jpg 300w, /img/header/loans-index.jpg 768w, /img/header/loans-index.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row
				div.col-sm-12
					h1 Loans
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Don’t Let Credit Card Interest Cost You Money

	//-section#blogvideo
		.container
			.row.text-center
				.col-sm-12
					iframe(src="https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/730/videos/125/CreditCardDebt_Encoded.mp4")
	section#blogvideo
		.container
			.row
				.col-sm-8
					p.
						“Would you like to save 20% by opening a store credit card today?”

					p.
						You hear this a lot at the checkout counter, and saving money is always tempting. But should you do it?

					p.
						Store credit cards are offered by many big retailers. You’ll get that initial discount and maybe even special incentives or discounts on future purchases. If you’re a regular customer, you might want to consider it.

					p.
						But there can be drawbacks:
						#[br]• Store cards can have significantly higher interest rates than national brand credit cards issued by financial institutions.
						#[br]• And some store cards can be used only at that retailer.
					p.
						Adding a store credit card is a spending decision, and like any spending decision it’s always best to consider your options first:

						#[br]• Do you really need one more credit card - or will it be a temptation to spend - and one more exposure to possible fraud or identity theft?
						#[br]• Do you shop at this store often enough to make cardholder benefits worthwhile?
						#[br]• Do you pay your bills in full at the end of the month? If not, making payments on a high-interest-rates card can wipe out any savings you received for opening the card.
					p.
						Have you compared a store card with a national brand credit card – such as Visa, MasterCard or American Express – that you could get through your financial institution?

					p.
						These cards generally have lower interest rates and can offer reward points on purchases made almost anywhere. That means you can shop wherever you find the best price.

					p.
						It’s important that you know what you’re getting into when considering a store card. 

					p.
						Use the Internet to learn what your options are before saying ‘yes’ to anything.

					p.
						Then make a decision that is best for your needs.
