extends /layout

block content
	section.cover.height-30.imagebg.parallax(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-index.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-index.jpg" alt="" srcset="/img/header/loans-index.jpg 1600w, /img/header/loans-index.jpg 300w, /img/header/loans-index.jpg 768w, /img/header/loans-index.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row
				div.col-sm-12
					h1 Loans
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Don’t Let Credit Card Interest Cost You Money

	section#blogvideo
		.container
			.row.text-center
				.col-sm-12
					iframe(src="https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/476/videos/Credit_Cards_Encoded.mp4")
	section#blogvideo
		.container
			.row
				.col-sm-8
					p.
						Did you know that using a credit card gives you some important advantages when it comes to making purchases?

					p.
						Whether it’s ordering something online, buying airline tickets, renting a car, or having to buy a new refrigerator in an emergency, a credit card gives you powerful protections - and even some extra benefits.

					p.
						The first thing to always remember is that each time you use a credit card you are really taking out a loan – a loan that needs to be repaid.

					p.
						Unlike a debit card, where the money you spend comes directly from your checking or savings account, a credit card is a loan for the amount of money paid, and you will be charged interest on that loan unless you pay the bill in full at the end of each month.

					p.
						When used responsibly, your credit card can protect you.

					p.
						Experts recommend using them when buying things online because of protections that guard you against fraud, merchandise that doesn’t arrive, or defective products. Some even extend product warranties.

					p.
						Credit cards are also great to have when buying airline tickets and other costly items, such as appliances.

					p.
						And they are almost a requirement when renting a car, with some even providing rental car insurance.

					p.
						A credit card can also benefit you in other important ways.

					p.
						Many offer reward points based on your purchases. And those points can come in the form of cash back or airlines miles.

					p.
						And because they are considered loans, credit cards can help raise your credit rating if you regularly pay your balance and don’t skip or make late payments.

					p.
						While using a credit card can work in your favor, it’s important that you control your spending, make payments on time, and avoid interest charges by paying your entire bill at the end of each month whenever possible.

					p.
						So take some time to learn more about how you can benefit from using a credit card.
