extends /layout

block content
	section.cover.height-30.imagebg.parallax(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-index.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-index.jpg" alt="" srcset="/img/header/loans-index.jpg 1600w, /img/header/loans-index.jpg 300w, /img/header/loans-index.jpg 768w, /img/header/loans-index.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row
				div.col-sm-12
					h1 Loans
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Don’t Let Credit Card Interest Cost You Money

	section#blogvideo
		.container
			.row.text-center
				.col-sm-12
					iframe(src="https://x7i5t7v9.ssl.hwcdn.net/cds/moneyBasics/730/videos/125/CreditCardDebt_Encoded.mp4")
	section#blogvideo
		.container
			.row
				.col-sm-8
					p.
						Having a credit card can have many benefits, but it can also be costly if you only make the minimum monthly payment.

					p.
						That’s because using the card is like taking out a loan, and loans come with interest charges, meaning the longer it takes to pay your bill, the more you’ll pay in interest costs.

					p.
						For example, if you charged $2,500 for appliances and the minimum monthly payment listed on your statement is $25 at 16% interest, it would take more than 15 years to pay off the $2,500 and it would cost you more than $3,300 in interest.

					p.
						Making a $50 payment on the same amount would take almost 7 years and it would only cost you about $1,650 in interest.

					p.
						But if you paid your bill in full at the end of each month, you would pay no interest.

					p.
						So it’s important to pay off as much of your bill as possible each month. It’ll save you money and help you get you out of debt faster.

					p.
						It can also help your credit score, and a higher credit score can lead to lower interest rates on loans or credit cards.

					p.
						So even if it means cutting back on other expenses so you can have some extra money each month, it’s a smart financial move to pay off your credit card bill as fast as you can.
