extends /layout

block content
	section#hero.cover.height-70.imagebg.parallax.text-center(data-overlay="5")
		div.background-image-holder
			img(src="/img/header/loans-auto.jpg" alt="Header Image")
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Auto/Recreational Loans
					p.
						Purchase or Refinance a new or pre-owned auto or recreational loan (travel trailers, motorhomes, motorcycles, boats, ATV).
	section
		div.container
			div.row
				div.col-md-12
					h5.color--blue.
						Auto Loans
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• #[a(href="/rates") Low interest rates]
					p.unmarg.
						• Terms up to 84 months
					p.unmarg.
						• $0 down financing
					p.unmarg.
						• #[a(href="/protect") Mechanical Breakdown Insurance] (MBI) and #[a(href="/protect") Guaranteed Asset Protection] (GAP) available
					p.unmarg.
						• On-site dealership financing available
					p.unmarg.
						• Find your #[a(href="https://tularefcu.cudlautosmart.com/" target="_blank") new car] today #[a(href="https://tularefcu.cudlautosmart.com/Finance" target="_blank" rel="noopener") and calculate your payments]!
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/" target="_blank")
						span.btn__text Apply Now
			div.row.mt--1
				div.col-md-12
					h5.color--blue.
						Auto Starter Program
					p.
						Just starting out? No problem with our Auto Starter First Time Buyer Program.
			div.row.mt--2.final
				div.col-md-12
					p.unmarg.
						• Rates as low as 7.99% APR*
					//-p.unmarg.
						• #[a(href="/rates") Low interest rates]
					p.unmarg.
						• Terms up to 120 months
					p.unmarg.
						• Competitive rates and discounts available with loyalty products
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/" target="_blank")
						span.btn__text Apply Now
			div.row.mt--1
				div.col-md-12
					h5.color--blue.
						Recreational Vehicle Loans
			div.row.mt--2.final
				div.col-md-12
					p.unmarg.
						• #[a(href="/rates") Low interest rates]
					p.unmarg.
						• Terms up to 72 months
					p.unmarg.
						• Minimal cash down requirements
					p.unmarg.
						• Flexible approval criteria

				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/" target="_blank")
						span.btn__text Apply Now
			.row.mt--2.final
				.col-sm-12
					p.
						*APR = Annual Percentage Rate. Rates vary by loan and term. Rates and Terms may change without notification. Not everyone will qualify for the "as low as" rate.
