extends /layout

block content
	section#hero.cover.height-70.imagebg.parallax.text-center(data-overlay="5")
		div.background-image-holder
			img(src="/img/header/credit-card-update.jpg" alt="Header Image")
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Credit Cards
	section
		div.container
			div.row
				div.col-md-12
					h5.color--blue Platinum Visa
					p.
						The card that earns you points!
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• Earn <a href="https://www.uchooserewards.com" target="_blank">uChoose</a> to redeem for cash, merchandise, and travel
					p.unmarg.
						• Preferred pricing with low, fixed interest rate
					p.unmarg.
						• Low cost <a href="https://tcfcu.typeform.com/to/yRfDZg" target="_blank">balance transfer</a> fees
					p.unmarg.
						• Free annual transaction summary to help you analyze your spending!
					p.unmarg.
						• No annual fee
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/" target="_blank")
						span.btn__text Get the Card			
			div.row.mt--1
				div.col-md-12
					h5.color--blue Classic Visa
					p.
						The everyday card for your everyday purchases
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• Low interest #[a(href="/rates#credit-cards") rate]
					p.unmarg.
						• No annual fee
					p.unmarg.
						• Welcomed at millions of retailers
					p.unmarg.
						• Internet purchases protected by Verified by Visa
					p.unmarg.
						• Low-cost payment protection available
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/")
						span.btn__text Get the Card	
			div.row.mt--1
				div.col-md-12
					h5.color--blue Student Visa
					p.
						In school and need a convenient way to spend while establishing credit?
			div.row.mt--2.final
				div.col-md-12
					p.unmarg.
						• Low interest #[a(href="/rates#credit-cards") rate]
					p.unmarg.
						• Great way to build credit or improve your score
					p.unmarg.
						• Opportunity to establish financial independence
					p.unmarg.
						• Welcomed at millions of retailers
					p.unmarg.
						• Internet purchases protected by Verified by Visa
					p.unmarg.
						• Low-cost payment protection available
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/")
						span.btn__text Get the Card
			.row.mt--2
				.col-sm-12
					h5.color--blue Custom Cards
					h6.
						MY CARD. MY STYLE. MY CHOICE.
					p.
						When you pull out your debit card, do you want it to strike up conversation, make someone smile or simply reflect your unique style? For only $10 you can personalize your Tulare Federal Credit Card and use this fun feature to rave about your kids, show off your furry babies or showcase your amazing photo talents.
					h5.color--blue Directions

					p.unmarg.
						• Click the link at the bottom of this page to go to the iCreate editor.
					p.unmarg.
						• Choose your photo, either by uploading one yourself or picking one from our gallery. (If uploading one yourself, please read our terms and conditions for guidelines).
					p.unmarg.
						• Once you are satisfied with the way your card looks, submit it, and then enter your information.
					p.unmarg.
						• Wait about 7 – 10 business days for your iCreate card to be mailed to you.
					p.
						• Enjoy the attention you’ll be sure to receive every time you pay with your new card!
					h5.color--blue Requirements

					p.unmarg.
						• Create your card online by clicking the button below.
					p.unmarg.
						• Upload a digital picture - view our Terms and Conditions for respective restrictions.
					p.unmarg.
						• Keep in mind that images must be in JPEG, PNG, GIF, Bitmap or TIFF formats.
					p.
						• Remember, the image must be at least 840x840 pixels and smaller than 10MB in size.


					a.btn.btn-blue(href="https://us.personalcard.net/AllAboutMe/Designer/PCS/Start.aspx?Handover_Key=384b5fc6-3aa1-4293-b459-7d3d23a73995&LanguageId=en-US" target="_blank" rel="noopener")
						span.btn__text Customize Card
