extends /layout

block content
	section#hero.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		div.background-image-holder
			img(src="/img/header/credit-card-update.jpg" alt="Header Image")
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Credit Cards
	section
		div.container
			div.row
				div.col-md-12
					h5.color--blue Platinum Visa
					p.
						The card that earns you points!
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• Earn <a href="https://www.uchooserewards.com" target="_blank">uChoose</a> to redeem for cash, merchandise, and travel
					p.unmarg.
						• Preferred pricing with low, fixed interest rate
					p.unmarg.
						• Low cost <a href="https://middlestate.typeform.com/to/yRfDZg" target="_blank">balance transfer</a> fees
					p.unmarg.
						• Free annual transaction summary to help you analyze your spending!
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/" target="_blank")
						span.btn__text Get the Card			
			div.row.mt--1
				div.col-md-12
					h5.color--blue Classic Visa
					p.
						The everyday card for your everyday purchases
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• No penalty #[a(href="/rates") rates]
					p.unmarg.
						• No annual fee
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/")
						span.btn__text Get the Card	
			div.row.mt--1
				div.col-md-12
					h5.color--blue Student Visa
					p.
						In school and need a convenient way to spend while establishing credit?
			div.row.mt--2.final
				div.col-md-12
					p.unmarg.
						• Affordable interest #[a(href="/rates") rate]
					p.unmarg.
						• Great way to build credit or improve your score
					p.unmarg.
						• Opportunity to establish financial independence
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/")
						span.btn__text Get the Card
