extends /layout

block content
	section.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/credit-card-update.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1920" height="1080" src="/img/header/credit-card-update.jpg" alt="Header Image" srcset="/img/header/credit-card-update.jpg 1600w, /img/header/credit-card-update.jpg 300w, /img/header/credit-card-update.jpg 768w, /img/header/credit-card-update.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row.text-center
				div.col-sm-12
					h1 Credit Cards
	//-section
		div.container
			div.row
				div.col-md-12.text-center
					a.btn.btn-blue.type--uppercase(href="/loans")
						i.icon.icon--xs.fa.fa-arrow-left.color--blue(style="margin-right:20px;")
						span.btn__text Back to Loans

	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Credit Cards
	section
		div.container

			div.row
				div.col-md-12
					h5.color--blue Platinum Visa
			
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• Earn <a href="https://www.uchooserewards.com" target="_blank">rewards</a> to redeem for cash, merchandise, and travel
					p.unmarg.
						• Preferred pricing with low, fixed interest rate
					p.unmarg.
						• Low cost <a href="https://middlestate.typeform.com/to/yRfDZg" target="_blank">balance transfer</a> fees
					p.unmarg.
						• Free annual transaction summary to help you analyze your spending!

				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/" target="_blank")
						span.btn__text Get the Card			
			
			div.row.mt--1
				div.col-md-12
					h5.color--blue Classic Visa
			
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• The everyday card for your everyday purchases
					p.unmarg.
						• No penalty rates
					p.unmarg.
						• No annual fee
			
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/")
						span.btn__text Get the Card	

			

			div.row.mt--1
				div.col-md-12
					h5.color--blue Student Visa
					p.
						In school and need a convenient way to spend while establishing credit?
			
			div.row.mt--2.final
				div.col-md-12
					p.unmarg.
						• Affordable interest rate
					p.unmarg.
						• Great way to build credit or improve your score
					p.unmarg.
						• Opportunity to establish financial independence
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/")
						span.btn__text Get the Card
