extends /layout

block content
	section#hero.cover.height-60.imagebg.parallax.text-center(data-overlay="5")
		div.background-image-holder.bg-ct
			img(src="/img/header/loans-mortgage.jpg" alt="Header Image")
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Home Loans
	section
		div.container
			div.row
				div.col-md-12
					h5.color--blue First Mortgages
					p.
						Purchase or Refinance your primary residence, vacation home, or rental property.
			div.row.mt--2
				div.col-md-12
					p.bullet.unmarg.
						• Conventional
					p.bullet.unmarg.
						• FHA
					p.bullet.unmarg.
						• VA
					p.bullet.unmarg.
						• Work with our mortgage partners at Wescom Central Credit Union
				div.col-md-12
					a.btn.btn-blue(href="https://eloans.mortgagemaximum.com/apply.asp?siteId=D8A7650C-E2C5-4473-871C-8C4E5AE558E7")
						span.btn__text Apply
				div.col-md-12
					a.btn.btn-blue(href="https://eloans.mortgagemaximum.com/wizard/LoanConsultant.asp?siteId=D8A7650C-E2C5-4473-871C-8C4E5AE558E7")
						span.btn__text Check Rates
			div.row.mt--1
				div.col-md-12
					h2.color--blue Equity Home Loans
			div.row.mt--1
				div.col-md-12
					h5.color--blue Home Equity Line of Credit
					p.
						A HELOC is a revolving line of credit that allows you to borrow from the equity in your home. As you repay the balance, you can continue to borrow as needed.
			div.row.mt--2.final
				div.col-md-12
					p.bullet.unmarg.
						• Rates as low as 4.50% APR, #[span(data-tooltip="Rate may change - determined by Prime Rate") variable]
					p.bullet.unmarg.
						• Loans up to 90% of your home’s appraised value
					p.bullet.unmarg.
						• #[span(data-tooltip="As you repay the outstanding balance, you can continue to borrow from the available equity in your home. You may use as little or as much as you need as long as you do not exceed your maximum limit.") Revolving line of credit]
					p.bullet.unmarg.
						• #[span(data-tooltip="You can access funds via check writing, transfer funds via online banking, debit card, and ATMs.") Convenient access]
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/")
						span.btn__text Apply
			div.row.mt--1
				div.col-md-12
					h5.color--blue Fixed Rate Second Mortgage
					p.
						Also known as a Second Mortgage. It's a great option if you are looking into borrowing a fixed amount to be repaid over a specific time period.
			div.row.mt--2.final
				div.col-md-12
					p.bullet.unmarg.
						• Rates as low as 5.25% APR, #[span(data-tooltip="Rate will not change.") fixed]
					p.bullet.unmarg.
						• Loans up to 90% of your home’s appraised value
					p.bullet.unmarg.
						• Terms up to 20 years
				div.col-md-6
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/")
						span.btn__text Apply
			div.row.mt--2.final
				div.col-md-12
					p.unmarg.
						*APR = Annual Percentage Rate. Rates vary by loan and term. Rates and Terms may change without notification. Not everyone will qualify for the "as low as" rate.
