extends /layout

block content
	section#hero.cover.height-60.imagebg.parallax.text-center(data-overlay="5")
		div.background-image-holder
			img(src="/img/header/loans-recreational.jpg" alt="Header Image")
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Recreational Loans
	section
		div.container
			div.row
				div.col-md-12
					p.
						You can also finance an ATV, motorcycle, boat, motor home, travel trailer, jet ski or RV at Tulare Federal. Low rates, flexible terms and a streamlined application process make it easy to finance your vehicle. Even if you’ve signed on the dotted line somewhere else, you can refinance your vehicle at Tulare Federal.
				div.col-md-12
					p.
						Call us at 559-686-1791 to find out how much you can save today!
			div.row.text-center.mt--2
				div.col-md-6
					a.btn.btn-blue
						span.btn__text Compare Plans
				div.col-md-6
					a.btn.btn-blue
						span.btn__text Apply Now
	section.imagebg.parallax.height-30
		.background-image-holder
			img(src='/img/test2.jpg')
	section
		.container
			div.row.mb--2
				div.col-md-12
					h5.color--blue Motorcycles
					p.bullet.unmarg.
						• Up to 100% financing of value plus sales tax for new & used motorcycles
					p.bullet.unmarg.
						• Flexible terms available
			div.row.mb--2
				div.col-md-12
					h5.color--blue RVs & Travel Trailers
					p.bullet.unmarg.
						• Up to 100% financing of the vehicle value for new and used RVs
					p.bullet.unmarg.
						• Up to 100% financing of the vehicle value for new and used travel trailers
					p.bullet.unmarg.
						• Flexible terms available
			div.row.mb--2
				div.col-md-12
					h5.color--blue Boats, Yachts, & Airplanes
					p.bullet.unmarg.
						• Up to 100% financing of the value for new boats, yachts, & airplanes
					p.bullet.unmarg.
						• Flexible terms available
			div.row.mb--2
				div.col-md-12
					h5.color--blue Jet Skis & Personal Watercraft
					p.bullet.unmarg.
						• Up to 100% financing of value for new personal watercraft
					p.bullet.unmarg.
						• Flexible terms available
