extends /layout

block content
	section#hero.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		div.background-image-holder.bg-ct
			img(src="/img/header/loans-solar.jpg" alt="Header Image")
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Solar Loans
	section
		div.container
			div.row
				div.col-md-12
					h5.color--blue Secure Solar Deed of Trust
					p.
						Yes, it’s a mortgage, and it’s awesome. Fund the installation of your solar panels with a loan secured by your home in order to pay super low interest.
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• No payments for 90-days to allow time for construction
					p.unmarg.
						• One-time #[span(data-tooltip="Reamortizating the loan will allow you to lower your monthly payments after making a large payment towards the principal.") reamortization] option to reduce your payment for the remaining life of the loan
					p.unmarg.
						• Low, fixed interest #[a(href="/rates") rates] for terms up to 20 years
					p.unmarg.
						• Minimal fees due upon credit approval
					p.unmarg.
						• Traditional equity restrictions may not apply advances up to 5% more than your home’s value
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/")
						span.btn__text Apply Now!			
			div.row.mt--1
				div.col-md-12
					h5.color--blue Unsecure Solar
					p.
						Don’t have equity? Don’t want to add a lien to your home? No worries, just promise to pay it back.
			div.row.mt--2.final
				div.col-md-12
					p.unmarg.
						• No payments for 90-days to allow time for construction
					p.unmarg.
						• No upfront fees, ever
					p.unmarg.
						• Low unsecure interest #[a(href="/rates") rates]
					p.unmarg.
						• Terms up to 15 years
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/")
						span.btn__text Apply Now!
